body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
    background-color: #333;
    color: #fff;
}

header {
    background-color: #555;
    color: white;
    padding: 1em;
    text-align: center;
}

header a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}

main {
    margin: 20px;
    padding: 20px;
    background-color: #444;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h1, h2, h3 {
    margin-top: 0;
}

section {
    margin-bottom: 20px;
}

#schedule-list {
    list-style-type: none;
    padding: 0;
}

#schedule-list li {
    padding: 10px;
    background-color: #666;
    margin-bottom: 10px;
    border-radius: 4px;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 20px;
}
